In [15]:
import pandas as pd
import numpy as np

In [16]:
data = {
    'Size': [1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200],
    'Bedrooms': [3, 3, 3, 4, 4, 4, 5, 5],
    'Age': [10, 15, 10, 20, 30, 15, 20, 25],
    'Price': [300000, 320000, 340000, 360000, 400000, 370000, 420000, 430000]
}

In [17]:
df=pd.DataFrame(data)
df

   Size  Bedrooms  Age   Price
0  1500         3   10  300000
1  1600         3   15  320000
2  1700         3   10  340000
3  1800         4   20  360000
4  1900         4   30  400000
5  2000         4   15  370000
6  2100         5   20  420000
7  2200         5   25  430000

In [18]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score 

X=df[['Size']]  #1 Independent variable
Y=df['Price']   # Dependent variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
 
# Create a linear regression model
model = LinearRegression()
 
# Train the model
model.fit(X_train, y_train)
 
# Make predictions on the test set
y_pred = model.predict(X_test)
 
# Coefficients and intercept
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)
 
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
 
print("Mean Squared Error:", mse)
print("R-squared:", r2)
 
 
new_house = np.array([[1500]])
predicted_price = model.predict(new_house)
print(f"Predicted Price for new house: {predicted_price[0]}")

Intercept: 16600.00000000006
Coefficients: [192.]
Mean Squared Error: 475400000.0
R-squared: 0.23936000000000002
Predicted Price for new house: 304600.0

C:\Users\CVR\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(